body,
html {
  background: #090909;
  font-family: 'Lacquer', sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  /* overflow-x: hidden; */

  scroll-behavior: smooth;
}

#pageCon {
  width: 100%;
  border: 2px red solid;
  overflow-x: hidden;
}

.home {
  background-image: url(../assets/images/bimage.png);
  height: 100vh;
  background-position-y: -50px;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
  overflow: hidden;
}

.navbar {
  margin: 0;
  padding: 0;

  float: right;

  width: 43rem;
  height: 55px;

  margin-top: -5px;
  padding-left: 10px;

  overflow: hidden;
  top: 0;

  background: rgba(9, 9, 9, 0.5);
  box-shadow: -5px 4px 6px rgba(0, 0, 0, 0.4);

  font-size: 19px;
  font-weight: 500;

  letter-spacing: 1px;
}

ul {
  list-style-type: none;
}

.nav-ul {
  margin-left: -40px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 0 16px;
  text-decoration: none;
}

#burger-menu {
  display: none;

  width: 60px;
  cursor: pointer;
  float: right;
  position: fixed;

  right: 10px;
  top: 80px;
  z-index: 2;
}

#menu {
  display: none;
  background: rgba(9, 9, 9);

  width: 120px;
  padding: 0;
  position: fixed;
  margin-top: 74px;

  right: 0px;

  font-size: 18px;

  padding-top: 30px;
  padding-left: 5px;
  z-index: 2;
}

#menu-cross {
  position: absolute;
  top: 2px;
  left: 4px;
  transform: scale(0.8);
  cursor: pointer;
}

.menu-ul {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  text-align: right;
}

.menu-ul a {
  padding-bottom: 15px;
  text-align: right;
}

.menu-ul li {
  float: right;
  text-align: right;
  padding-bottom: 5px;
}

#corner-img {
  float: right;
  right: 0;
  position: fixed;
  padding: 10px;
  margin-top: 2px;
  cursor: pointer;
  width: 110px;

  z-index: 10;
}

/*    video pop up     */
#modal {
  width: 100%;
  height: 100vh;
  position: absolute;
  background: rgba(9, 9, 9, 0.7);
  z-index: 100;
  display: none;
}

.video-con {
  width: 80%;
  height: 80vh;
  margin: 3% auto;
  text-align: center
}

#video-popup {
  width: 95%;
  display: inline-block;
  outline: none;
  border: 2px #FF8C00 solid;
}

#exit-cross {
  width: 60px;
  position: absolute;
  float: left;
  z-index: 3;
  cursor: pointer;
}

.title-wrapper {
  margin-left: 80px;
  padding: 0;
  height: 200px;
  width: 400px;
  padding-top: 15px;
}

.dirt-header {
  padding: 0;
  margin: 0;
  font-size: 90px;
}

#dirtLink {
  color: white;
  text-decoration: none;
}

.an {
  margin-top: -23px;
  margin-left: 220px;
}

.dirt-subheader {
  margin-top: 15px;
}

.down-pic {
  margin-top: 10px;
  cursor: pointer;
}

.down-btn {
  width: 40%;
  height: 75px;

  float: left;
  left: 0;
  position: absolute;
  bottom: 0px;

  text-align: center;
}

audio {
  background: #090909;

  height: 50px;
  box-shadow: -5px 4px 6px rgba(0, 0, 0, 0.4);
}

.controls {
  width: 60%;
  height: 75px;
  background: rgba(9, 9, 9, 0.8);
  float: right;
  position: absolute;
  right: 0;
  bottom: 0px;
  box-shadow: -5px 4px 6px rgba(0, 0, 0, 0.4);
}

.icons {
  margin-right: 10px;
  margin-top: 15px;
  height: 50px;
  width: 50px;
}

.back {
  background-image: url(../assets/images/back.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  float: left;
  background-position: center;
  margin-left: 15px;
}

.play-pause {
  background-image: url(../assets/images/play-btn.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  float: left;
  text-align: center;
  background-position: center;
}

#pause {
  background-image: url(../assets/images/pause.svg);
  margin-top: 14px;
  background-position: center;
}

.next {
  background-image: url(../assets/images/next.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  float: left;
  background-position: center;
}

#currentlyPlayingSong {
  font-size: 18px;
  margin-top: 0px;
  padding-top: 20px;
  padding: 0;
  overflow: hidden;
  height: 25px;
}

#currentSong {
  display: block;
  font-size: 18px;
  margin-top: 10px;
  padding: 0;
  overflow: hidden;
  height: 25px;
}

.song-title {
  font-size: 18px;
  margin-top: 10px;
  padding: 0;
  overflow: hidden;
  height: 25px;
}

#progress {
  width: 60%;
  height: 5px;
  margin-top: 30px;
  margin-right: 15px;
}

#progress[value] {
  -webkit-appearance: none;
  appearance: none;
}

progress[value]::-webkit-progress-bar {
  background-color: white;
  border-radius: 25px;
}

progress[value]::-webkit-progress-value {
  background-color: #FF8C00;
  border-radius: 25px;
}

.section-title {
  font-size: 50px;
  margin-left: 4%;
  font-family: 'Lacquer', sans-serif;
}

hr {
  width: 100px;
  margin-left: 4%;
  margin-top: -25px;
  border: none;
  height: 3px;
  color: #FF8C00;
  background-color: #FF8C00;
}

/*              Dates                        */
.dates-con {
  font-family: 'Lacquer', sans-serif;
}

.tour-title {
  font-size: 50px;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Lacquer', sans-serif;
}

table {
  width: 70%;
  margin: 0 auto;
  border-collapse: collapse;
  margin-bottom: 50px;
}

th {
  padding-bottom: 20px;
  text-transform: capitalize;
  font-size: 28px;
}

tr {
  padding: 5px;
}

td {
  padding: 10px;
  text-align: center;
  font-size: 23px;
}

.row-white {
  background: #242424;
}

.ticket-link {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.list-con {
  width: 70%;
  height: 100%;
  margin: auto;
}

.date {
  color: #FF8C00;
}

.venue {
  float: left;
  font-size: 23px;
}

/*        Collection         */
.collection {
  width: 100%;
  background-color: white;
  padding-bottom: 120px;
  padding-top: 20px;
  position: relative;
}

.titles {
  background: #090909;
  color: white;
  text-align: center;
  padding: 10px 10px;
  margin: 0 auto;
  font-size: 28px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.4);

  width: 250px;
  margin: 0 auto;

  margin-bottom: 25px;
}

.videoGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 0 10%;
}

.orange {
  color: #FF8C00;
}

.videoCon {
  width: 100%;
  position: relative;
  display: block;
  background-size: cover;
  border: 3px #090909 solid;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.4);
  transition: transform 0.5s;
}

.colVid {
  width: 100%;
  height: 100%;
  position: relative;
  background: #090909;

  cursor: pointer;

  outline: none;
}

/* .videoCon:hover {
  transform: scale(1.1)
} */

.colVidHeaders {
  background: #090909;
  margin: 0;
  padding: 5px 0;
  text-align: center;
  margin-top: -5px;
}

.black {
  color: black;
  padding-top: 20px;

}

.colModal {
  width: 100%;
  height: 100vh;
  position: absolute;
  background: rgba(9, 9, 9, 0.7);
  z-index: 100;
  display: block;
}

.videoFullCon {
  width: 60%;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 50px;
  text-align: center;
}

#fullCon {
  display: none;
}

.videoFull {
  width: 90%;
  /* height: 50vh; */
  display: inline-block;
  outline: none;
  border: 3px #090909 solid;
  background:#090909;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.4);
}

#circle1 {
  position: absolute;
  top: 50px;
  left: 8%;
}

/*             Gallery                     */
.gallery {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding-top: 25px;
}

#gallery-title {
  border: 3px white solid;

  width: 250px;
  margin: 0px auto;
  margin-bottom: 25px;
}

#gallery-modal {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  padding: 0;

  background: rgba(9, 9, 9, 0.7);
  text-align: center;

  display: none;

  z-index: 1;
}

.imgCon {
  margin: auto;
  margin-top: 10%;
  margin-bottom: 20%;
  width: 60%;
  height: 70%;
  position: relative;
  padding: 10% 0;
}

#clickedImg {
  margin: auto auto;
  display: inline-block;
  vertical-align: middle;
}

#exit-modal {
  width: 60px;
  position: absolute;
  top: 0px;
  right: 0;
  float: right;
  z-index: 3;
  cursor: pointer;
}

.gallery-grid {
  margin: 0 10%;
  margin-bottom: 140px;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-areas: repeat(3, 5vw);
  grid-gap: 1%;
}

.gallery-img {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: transform .5s;
  border: 2px white solid;
}

.gallery-img:hover {
  transform: scale(1.3);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

/* 1st row */
.n1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.n2 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.n3 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
}

.n4 {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
}

.n5 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 2;
}

/* 2nd row */
.n6 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.n7 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.n8 {
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 2;
  grid-row-end: 3;
}

.n9 {
  grid-column-start: 8;
  grid-column-end: 9;
  grid-row-start: 2;
  grid-row-end: 3;
}

/* 3rd row */
.n10 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.n11 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}

.n12 {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 4;
}

.n13 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 4;
}

.n14 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 3;
  grid-row-end: 4;
}

/*                  The Band                */
.theBand {
  background-color: white;
  color: #090909;
  width: 100%;
  padding-bottom: 5%;
  padding-top: 25px;
}

#bandTitle {
  width: 250px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.band-line {
  width: 210px;
}

.band-bio {
  font-size: 20px;
  font-weight: 300;
  margin: 0 10%;
  width: 80%;
  color: white;
}

.bio-name {
  color: #FF8C00;
}

.bio-p {
  padding: 15px;
  line-height: 28px;
  font-family: 'Lacquer', sans-serif;
  background: #090909;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.4);
}

.band-grid {
  display: grid;
  grid-gap: 15px;

  margin: 0 12%;

  margin-bottom: 60px;

  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.mate {
  width: 100%;
  height: 100%;
  object-fit: cover;
  text-align: center;
}

.member-titles {
  font-family: 'Lacquer', sans-serif;
  font-size: 28px;
}

.member-img {
  width: 80%;
  height: auto;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.4);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #FFFFFF, #808080);
  ;
  opacity: 0.5;
  width: 100%;
  height: 98%;
}

.vImg {
  width: 100%;
  height: 100%;
}

.video-col {
  width: 100%;
  height: 100%;
  outline: none;
}

.blackHeader {
  width: 100%;
  height: 50px;

  background: #090909;
}


/* contact */
#contact {
  display: grid;
  grid-template-columns: 40% 60%;

  background: white;

  width: 100%;
  height: 100%;
}



.form-con {
  background: #090909;
  width: 100%;
  position: relative;


  text-align: center;
  box-shadow: 2px 0px 6px rgba(0, 0, 0, 0.4);
  z-index: 1;
  padding-top: 25px;
}

.contact-right {
  display: grid;
  grid-template-columns: 1fr;
  text-align: left;
  grid-row-gap: 5%;
  background: white;
  /* margin-top: 50px; */
  padding: 0 10%;
}

#dirtinForm {

  margin-bottom: 100px;
  font-size: 50px;

}

#messageHeader {
  margin-bottom: 50px;
}

.form-con form {
  margin: 0 auto;
  width: 60%;
}

.form-con input {
  background: none;
  border: none;
  width: 100%;

  display: block;
  font-size: 18px;
  font-family: 'Lacquer', sans-serif;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 2px white solid;
  outline: none;
  color: white;
}

#submit {
  border: 2px white solid;
  float: right;
  width: 40%;
  padding: 5px;
  margin: 0;
  cursor: pointer;
}

.form-con input::placeholder {
  font-size: 18px;
  color: white;
  opacity: 1;

}



.black-bg {
  background: #090909;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.4);
  padding: 10px 50px;
  text-align: center;
  margin: auto;
}

.contact-con {
  width: 100%;
  height: 200px;
  background: #090909;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.4);
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}

.responsive-contact {
  display: none;
}

.responsive-socials {
  display: none;
}

.socials-left {
  text-align: center;
}

.con-headers {
  color: #FF8C00;
  font-size: 20px;
}

.contact-content {
  color: white;
  font-size: 18px;
}

.img-con {
  background: #090909;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.4);
  width: 80%;
  height: 100px;
  margin: auto;
}

/* .bandImg {
  transform: scale(0.4);
} */

.enquiries {
  background: #090909;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.4);
  padding: 20px;
  text-align: center;
  margin: auto;
}

/*          Footer      */
.social-footer {
  width: 100%;
  height: 150px;
  background: #090909;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  padding-top: 20px;
}

.show {
  display: none;
}